
.loading-spinner {
    text-align: center;
    margin-top: 35px;
}

.loading-spinner * {
    display: inline-block;
}

.add-button {
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.delete-button {
    position: relative;
    right: 10px;
    top: 25px;
}

.album-tile {
    cursor: pointer;
}

.album-tile *:not(.tile-bg) {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.album-tile:hover *:not(.tile-bg) {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.album-tile:hover .tile-bg {
    filter: blur(3px);
    transition: all 0.5s ease-in-out;
}

.tile-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.album-title-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    padding-bottom: 5px !important;
}

.no-data-message {
    margin-top: 35px;
    text-align: center;
}